body {
    font-family: Arial, sans-serif;
    background-color: #153448;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #3C5B6F;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 15px;
    background-color: #948979;
    padding: 10px;
    border-radius: 5px;
}

.question h3 {
    margin: 0;
    font-weight: bold;
}

.options {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.options li {
    margin-bottom: 10px;
}

.options label {
    font-size: 0.9em;
}

#submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #DFD0B8;
    color: #153448;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #c6b09e;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}
